body {
  padding-top: 50px;
  background-color: blue;
  background: url(cover-apps.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.img-responsive-center{
  margin: 0 auto;
}

.video {
  position: relative;
  padding-top: 30px;
  overflow: hidden;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 586px;
  height: 300px;
  background: url(iphone5s.png) no-repeat center top;
}

.video iframe {
  position: absolute;
  top: 23px;
  left: 81px;
  width: 100%
  height 100%;

}

@media screen and (max-width: 600px) {
  .video {
    background: transparent;
    width: 80%;
  }

  .video iframe {
    top: 0px;
    left: 0px;
  }
}

.CTA {
  margin-top: 50px;
  text-align: center;
}

.CTA button {
  font-size: 25px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  padding: 5px 15px;
}

.CTA button:disabled {
  background-color: gray;
}

.CTA button span {
  padding-left: 10px;
  vertical-align: middle;
}



.navbar {
  opacity:0.7;
  background-color: white;
}

header, .box {
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 40px;
  font-weight:300;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  opacity: 0.5;
  background-color: white;
  width: 70%;
  margin: 40px auto 0 auto;
}

.box {
  opacity: 0.8;
}

header h1 {
  font-family: Lato, sans-serif;
  font-size: 40px;
  font-weight:300;
  opacity: 1;
  color: black;
}

.box p {
  font-size: 20px;
  font-weight: 400;
  opacity: 1;
}

footer {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.description {
  margin-top: 100px;
}

.about-video-container {
  height:400px;
}

.tc-video-container {
  margin: 0 auto 0 auto;
  width: 610px;
}

.resume ul {
  font-size: 20px;
  list-style-type: none;
}

.resume ul li {
  text-align: center;
}

.share {
  margin-top: 20px;
  text-align: center;
}

.twitter-nav {
  position: absolute;
  right: 55px;
  top: 15px;
  list-style-type: none;
}